/* стили для модального окна и подробной информации о пользователе*/
/* слой поверх всего */
#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF8DC;
  /* opacity: 0.9; */
  background: rgba(7, 30, 43, 0.5); /*Делает прозрачным только этот слой modal*/
  display: none;
  z-index: 1;
}


/*для подробной информации о пользователе*/
#windows{
  height: auto;
  width: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid white;
  border-radius: 5px; /*скругляем углы*/
  transition-timing-function: linear;
  transition-duration: 1s;
  /* opacity: 0; */
}

/* крестик */
#cross{
  height: 50px;
  width: 50px;
  opacity: 0.1;
  transition-property: opacity; /*Для того, чтобы кнопка плавно открывалась*/
  transition-duration: 1s;
  float: left;
}
#cross:hover{
  transition-duration: 1s;
  opacity: 1;
  cursor: pointer;
  transition-property: opacity; /*Для того, чтобы кнопка плавно закрывалась*/
}

/* Фото в модальном окне */
.avatar-modal{
  float: left; /*Что бы элементы расположить в линию*/
}

.avatar-modal > img{
  height: auto;
  width: auto;
  border: 2px solid #8FBC8F;
  border-radius: 5px;
}

.all-user-information{
  float: left; /*Что бы элементы расположить в линию*/
}

.all-user-information > ol{
  margin-top: 0;
}

.all-user-information > ol > li{
  padding-top: 5px;
}
